* {
    font-family: 'Quicksand', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

button {
    height: 75px;
    width: 75px;
    background-color: #A9A9A9;
    color: white;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    font-size: 40px;
}

input {
    height: 65px;
    width: 100px;
    border: 5px solid #A9A9A9;
    border-radius: 10px;
    margin: 0 20px;
    text-align: center;
    font-size: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

